

<div class="row px-4">
  <div class="col">
    <div *ngIf="artwork" class="card my-3 shadow-sm rounded">
      <img src="{{'https://spice.kmi.open.ac.uk/demos/imma_api/main.php?action=artworkimage&filename=' + artwork.image}}" class="card-img-top" alt="{{artwork.name}}">
      <div class="card-body">
        <h5  class="card-title fst-italic">{{artwork.name}}</h5>
        <p>
          <span class="fw-bold">{{artwork.artist}}</span><br />
          <span>{{artwork.date}}</span>
        </p>
        <audio controls style="width: 100%">
          <source src="assets/audio/{{artwork.audio}}" type="audio/mp4">
          Your browser does not support audio.
        </audio>
        <p [innerHTML]="artwork.description"></p>
        <p>
          <small><em>{{artwork.notes}}</em></small><br />
          <a href="{{artwork.URL}}" target="_blank"> <small>Find this work in the IMMA Collection</small></a>
        </p>

      </div>
    </div>
  </div>
</div>
