 <div class="px-4 pt-3 mt-5 rounded">
    <!--<h1>Navbar example</h1>-->
    <p class="lead">
      <a href="https://imma.ie/" target="_blank"><img class="img-fluid  " src="assets/img/IMMA30_LOGO_RGB_small.png"></a>
      Welcome to IMMA Viewpoints. Find out more about IMMA artworks.
      How do IMMA artworks make you think? How do they make other people think?
    </p>

    <h2>Find Out More</h2>
    <p>
      Find out more about IMMA artworks. Share your own responses to
      IMMA artworks and view the responses of others.
    </p>
    <p>
      Below are some of the artworks in the grounds of IMMA. When you find one of the artworks tap on
      its image below. You will be given some new information about the artwork. You will then be asked a question
      about your response to the artwork. There are no right or wrong answers.
    </p>
    <p>
      By taking part you give IMMA permission to share any of your responses anonymously on the public display
      in the convivial space and online, including social media. There is a link to the public display
      in the Other People section of this page. But first, seek out the artworks below.
    </p>

    <h2>Take Part</h2>
    <p>
      When you find one of the artworks below in the IMMA grounds, tap on its image. Find out more
      about the artwork, read a description and answer a question. There are no right
      or wrong answers.
    </p>
  </div>
  <app-artworks></app-artworks>

 <div class="px-4">
   <h2>Other People</h2>

   <!-- <h5 class="text-center"> -->

     <p><a routerLink="/results">Find out how others have responded to these artworks.</a></p>

   <!-- </h5> -->
 </div>

