<div class="row px-4">
  <div class="col">
    <div *ngFor="let artwork of artworks">

    </div>
    <div *ngFor="let artwork of artworks" class="card my-3 shadow-sm rounded" style="width: 18rem;">
      <a routerLink="/artwork/{{artwork.id}}"><img src="{{artwork.imageLoc}}" class="card-img-top" alt="{{artwork.name}}"></a>
      <div class="card-body">
        <h5  class="card-title fst-italic">{{artwork.name}}</h5>
        <p>
          <span class="fw-bold">{{artwork.artist}}</span><br />
          <span>{{artwork.date.getFullYear()}}</span><br />
          <!-- <span><a routerLink="/artwork/{{artwork.id}}">View</a></span> -->
        </p>

      </div>
    </div>
  </div>
</div>
